body {
  text-align: center;
  font-family: Arial;
  background: #f4f6f9;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px 20px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}